<?xml version="1.0"?>
<launch>

	<group ns = "box_detect">

		<param name="camera_frame_name" type="str" value="/camera/depth/points"/>

		<param name="base_frame_name" type="str" value="/base_footprint"/>
		<param name="camera_frame_name" type="str" value="/rgb_link"/>

		<param name="depth_range_min_x" type="double" value="0.1"/>
		<param name="depth_range_max_x" type="double" value="2.0"/>
		<param name="depth_range_min_z" type="double" value="0.1"/>
		<param name="depth_range_max_z" type="double" value="1.2"/><!--1.6-->

		<node pkg="box_detect" type="box_detect.cpp" name="box_detection_node" output="screen"/>

	</group>

</launch>
